---
layout: default
---

<p>Welcome to my blog! If you want to communicate with me, please use github </p>

<hr>

{% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <h1 style="font-size: 150%;">{{ category_name }} ({{category | last | size}})</h1>
    <a name="{{ category_name | slugize }}"></a>
    <ul>
    {% for post in site.categories[category_name] %}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
{% endfor %}