<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">
    <link rel="shortcut icon", href="/sources/images/NR.ico">
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
            inlineMath: [['$','$']]
            }
        });
    </script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>    
</head>
