<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <title>{{ site.title }}</title>
  <link href="/css/style.css" rel="stylesheet">
  <body>
  	<div class="container"> 
		<div class="sidebar">
			{% include sidebar.html %}
		</div>
		<div class="content">
            <div class="paper">
                <hr style="height:5px;border:none;border-top:5px double;"/>
			    {{ content }}
            </div>
		</div>
	</div>
  </body>
</html>